#pragma once

#include "ofMain.h"
#include "interface.h"
#include "ofApp.h"
#include "ofxGui.h"

SKETCH_BEGIN({name}, ofColor::{label})
	void setup() {
	}

	void reset() {
	}

	void update() {
	}

	void draw() {
		ofPushMatrix();
		ofTranslate(ofGetWidth() / 2., ofGetHeight() / 2.);
		ofBackground(ofColor::{background});
		ofPopMatrix();
	}

private:

SKETCH_END